.main-misdatos {
  height: 92vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.formulario-misdatos {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.misdatostittle {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}
