.edit-container {
  height: 132vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.tittle-mascotas {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  text-align: center;
  margin-top: 20px;
}
.label-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 16px;
}
.edit-form1-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.editpet-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 16px;
  text-align: center;
}
.imageupload-container {
  width: 335px;
  height: 180px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.foto-input {
  width: 335px;
  height: 180px;
  border-radius: 3px;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.search-form {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form1 {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 335px;
}
.input-report {
  font-size: 24px;
  width: 335px;
  height: 50px;
  padding: 0;
}
